:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --logo-color: #ffc604;
  --base-bg-color: #464b61;
  --hover-icon-color: #aaaeb9;
  --text-color: #aaaeb9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --logo-color: #ffc604;
    --base-bg-color: #464b61;
    --hover-icon-color: #aaaeb9;
    --text-color: #aaaeb9;
  }
}

body {
  background: var(--base-bg-color);
  color: var(--text-color);
}

.wrapper {
  @apply px-4 md:px-8 m-auto;
}
