@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --logo-color: #ffc604;
  --base-bg-color: #464b61;
  --hover-icon-color: #aaaeb9;
  --text-color: #aaaeb9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --logo-color: #ffc604;
    --base-bg-color: #464b61;
    --hover-icon-color: #aaaeb9;
    --text-color: #aaaeb9;
  }
}

body {
  background: var(--base-bg-color);
  color: var(--text-color);
}

.wrapper {
  @apply px-4 md:px-8 m-auto;
}

@layer components {
  .nav-bar {
    @apply flex absolute top-14 left-14 rounded-[30px] px-[1px] py-[1px];

    background: linear-gradient(180deg, rgba(119, 119, 119, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.6), 0px 2px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(20px);

    &__title {
      @apply absolute opacity-0 duration-300 translate-x-10;
    }

    &__link {
      @apply w-[56px] h-[56px] duration-300 rounded-full flex justify-center items-center relative;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
        &:after {
          content: ".";
          color: var(--hover-icon-color);
          @apply text-base absolute bottom-0 left-[50%] -translate-x-[50%];
        }

        .nav-bar__icon {
          @apply hover:scale-110 duration-300;
          filter: invert(86%) sepia(18%) saturate(140%) hue-rotate(186deg) brightness(80%) contrast(83%);
        }

        .nav-bar__title {
          opacity: 1;
          transform: translateX(90px);
        }
      }

      &.line {
        @apply mt-1;
        &:before {
          content: "";
          width: 80%;
          height: 1px;
          opacity: 0.3;
          background-color: var(--hover-icon-color);
          position: absolute;
          top: -4px;
        }
      }
    }

    &__wrapper {
      @apply bg-navbar_bg rounded-[30px] px-1 py-[3px];
    }
  }
}
