@layer components {
    .nav-bar {
        @apply fixed top-[10px] right-[10px] rounded-[30px] px-[1px] py-[1px] z-40 translate-x-[120%] duration-300 lg:translate-x-[0%];

        &.active {
            @apply translate-x-[0%];
        }

        background: linear-gradient(180deg, rgba(119, 119, 119, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
            rgba(0, 0, 0, 0.1);
        box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.6), 0px 2px 3px 0px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(20px);

        &__title {
            @apply opacity-80 duration-300 translate-x-0 translate-y-0 ml-5 mr-auto;
        }

        &__links {
            @apply flex flex-col items-center gap-[2px];
        }

        &__link {
            @apply w-full h-[56px] rounded-full flex justify-center items-center relative self-start px-5;

            @media (hover: none) {
                &:active {
                    &:after {
                        content: ".";
                        color: var(--hover-icon-color);
                        @apply text-base absolute bottom-0 left-[50%] -translate-x-[50%];
                    }
                }
            }
        }

        &__wrapper {
            @apply bg-navbar_bg rounded-[30px] px-1 py-[3px];
        }

        @screen lg {
            @apply inline-block absolute top-14 left-10 bottom-auto right-auto;

            &__links {
                @apply flex flex-col items-center gap-[2px];
            }

            &__title {
                @apply absolute w-[50px] opacity-0 duration-300 translate-x-[50%] ml-5 mr-auto text-[18px];
            }

            &__link {
                @apply w-[56px] h-[56px]  px-0;

                &.line {
                    @apply mt-1;
                    &:before {
                        content: "";
                        width: 80%;
                        height: 1px;
                        opacity: 0.3;
                        background-color: var(--hover-icon-color);
                        position: absolute;
                        top: -4px;
                        left: unset;
                        margin-left: unset;
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                        &:after {
                            content: ".";
                            color: var(--hover-icon-color);
                            @apply text-base absolute bottom-0 left-[50%] -translate-x-[50%];
                        }

                        .nav-bar__icon {
                            @apply hover:scale-110 duration-300;
                            filter: invert(86%) sepia(18%) saturate(140%) hue-rotate(186deg) brightness(80%)
                                contrast(83%);
                        }

                        .nav-bar__title {
                            @apply block opacity-100 translate-x-[110%];
                        }
                    }
                }
            }
        }
    }
}
